slurm*
search_scripts/hw_architecture/*
*.swp
*.swo
__pycache__/
all-time/
analysis/
bcast/
broadcast-config.py
broadcast-tech10-Volta
cluster.py
commands/
configs/cerebras.yaml
configs/debug_config.yaml
configs/exp_config_CoWoS_nextgen_mram.yaml
configs/exp_config_MCM_mram.yaml
configs/exp_config_MCM_optane.yaml
configs/exp_config_SiIF_1.yaml
configs/exp_config_SiIF_1024.yaml
configs/exp_config_SiIF_16.yaml
configs/exp_config_SiIF_256.yaml
configs/exp_config_SiIF_4.yaml
configs/exp_config_SiIF_mram.yaml
configs/exp_config_SiIF_optane.yaml
configs/exp_config_mram.yaml
configs/exp_config_optane.yaml
configs/normalized-v100.yaml
configs/power/
configs/template.yaml
configs/v100-validation.yaml
configs/v100_tensorcore_disabled_float_precision.yaml
configs/v100_tensorcore_disabled_half_precision.yaml
configs/v100_tensorcore_enabled_half_precision.yaml
configs/vdd-max-dram/
create_config.sh
cross-validate.py
db1
db2
debug/
explore-v100.py
explore.sh
explore/
findFailed.py
hw_architecture/
launch_code/
miniBatch_GD_search.py
oldcode/
result/
results/
results/Sep24/
scripts/
search_scripts/explore.sh
search_scripts/hidden_arch_search.sh
search_scripts/hw_architecture_search/
search_scripts/seq_arch_search.sh
staticAnalysis/
tensorcore_disabled_float_train.in
tensorcore_disabled_half_train.in
tensorcore_enabled_half_train.in
tune-overhead.sh
universal-configs
v100_tensorcore_disabled_float_precision.out
v100_tensorcore_enabled_half_precision.out
validate-v100.py
validate.sh
validation-v100/
case_study/perf_model/energy_per_membit
case_study/perf_model/energy_per_flop/*
lib/
bin/
output/
output_graph/
venv/
astra_cache/
log/err.log
log/log.log
log/
astra_comparison_output/
astra_transformer_output/
astra_transformer_output_forward/
astra_transformer_output_backward/
astra_flattened_graph/
astra_pipeline_output_flat/
astra_pipeline_output/
mat_dims_llm.txt
Transformer_breakdown_results.txt
fw_bw_graph.pkl
Transformer_breakdown_results.txt
Transformer_breakdown_results.txt
LLM_time_results.txt
